.header {
    background-color: #2E3440;
    color: #ECEFF4;
    padding: 1.5rem;
}

h1 {
    font-size: 2rem;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.navbar-links {
    align-items: center;
    display: flex;
    list-style-type: none;

    padding-right: 2rem;
}

.navbar li {
    margin-right: 1rem;
}
