a {
    color: #8FBCBB;
    text-decoration: none;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 5rem auto 0;
    width: 70%;
}

.product img {
    box-shadow: 2px 4px 12px rgba(0,0,0, .25);
    border-radius: 2px;
    max-width: 100%;
    width: 100%;
}

h2 {
    color: #4C566A;
    font-size: 1.75rem;
    font-weight: 700;
    margin: 5rem 0 1rem;
    text-align: center;
}

.product-details {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}
