.product {
    align-items: baseline;
    display: flex;
}
.col-product-img {
    width: 50%;
}

.col-product-img img {
    max-width: 100%;
    width: 100%;
}

.btn-add-to-cart {
    background-color: #A3BE8C;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 3px;
    padding: .25rem .75rem;
}
