html, body {
    font-family: 'Poppins Medium', Segoe UI, sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    color: #5E81AC;
    cursor: pointer;
    text-decoration: none;
    transition: all 400ms ease-in;
}
a:hover {
    color: #EBCB8B;
}
